@page "/"
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    <p>Just a home page that is not in the SPA app</p>
    <a href="/spa">Open SPA app</a>
</body>
</html>